@keyframes rotate-disk {
    100% {
        transform: rotateZ(360deg);
    }
}


* {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.musicBg img {
    position: absolute;
    height: 110%;
    width: 110%;
    margin: -5%;
    background-size: cover;
    -webkit-filter: blur(20px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=20, MakeShadow=false);
    z-index: -1;
}

.bgCover {
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
}

.musicName {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    height: 10%;
    border-bottom: 1px solid white;
}

#id-img-return {
    top: 4px;
    left: 3%;
    height: 87%;
    width: 80px;
}

#id-img-share {
    top: -2px;
    right: 3%;
    height: 100%;
    width: 100px;
}

.music-info {
    text-align: center;
    color: white;
}

.music-info span {
    display: block;
    height: 50%;
    margin-left: 15px;
}

.song {
    top: 8px;
}

.artist {
    font-size: 8px;
    margin-top: 8px
}

.musicPlayer {
    position: absolute;
    overflow: hidden;
    top: 10%;
    width: 100%;
    height: 90%;
    color: white;
}

.play-needle {
    position: absolute;
    top: -23px;
    left: 50%;
    margin: 0px -12px;
    z-index: 10;
    width: 100px;
    height: 150px;

    transform-origin: 20px 20px;
    transition: transform 0.4s;
    -webkit-transform-origin: 20px 20px;
    -webkit-transition: -webkit-transform 0.4s;
}

.pause-needle {
    transform: rotateZ(-25deg);
    -webkit-transform: rotateZ(-25deg);
}

.center-bg {
    width: 282px;
    height: 282px;
    position: absolute;
    left: 50%;
    top: 64px;
    margin: 0px -141px;
    background-color: rgba(251, 251, 251, 0.08);
    border-radius: 50%;
}

.player-center {
    width: 280px;
    height: 280px;
    position: absolute;
    left: 50%;
    top: 65px;
    margin: 0% -140px;

    animation: rotate-disk 20s infinite normal linear;
    animation-play-state: paused;
    -webkit-animation: rotate-disk 20s infinite normal linear;
    -webkit-animation-play-state: paused;
}

.center-song {
    border-radius: 50%;
    width: 68%;
    margin: 16%;
    height: 68%;
}

.center-border {
    position: absolute;
    top: 0px;
}

.footer-logos {
    position: absolute;
    top: 65%;
    text-align: center;
}

.footer-logos img{
    display: inline-table;
    width: 50px;
    height: 50px;
    margin: 0 2.5% 0 2.5%;
    cursor: pointer;
}

.footer-timelist {
    width: 400px;
    height: 50px;
    position: absolute;
    bottom: 100px;
    margin: 0px -199px;
    left: 50%;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.timelist {
    top: 6px;
    width: 1400px;
    margin: 0 auto;
    height: 20px;
    overflow: visible;
}

.timelist-bg {
    background-color: #B1ADAC;
    height: 2px;
}

.timelist-ing{
    width: 0px;
    background-color: #FB0D0D;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: visible;
}

.timelist-ing img {
    height: 20px;
    width: 20px;
    position: absolute;
    top: -9px;
    margin-left: -11px;
    border-radius: 50%;
    overflow: visible;
    cursor: pointer;
}


.footer-timelist span {
    text-align: center;
}

#id-audio-player {
    display: inline-block;
}

.footer-player {
    position: absolute;
    text-align: center;
    width: 400px;
    left: 50%;
    margin: 0px -200px;
    top: 80%;
}

.footer-player img {
    cursor: pointer;
    margin: 0 10px 0 10px;
}

.footer-loop, .footer-src {
    width: 32px;
    height: 32px;
    margin-bottom: 20px !important;
}

.footer-prev, .footer-next {
    width: 50px;
    height: 50px;
    margin-bottom: 10px !important;
}

.footer-play {
    width: 70px;
    height: 70px;
}

.musicList {
    background: #fff;
    position: fixed;
    width: 100%;
    height: 60%;
    max-height: 390px;
    margin: 0 auto;
    bottom: -100%;
    overflow: hidden;

    transition: bottom 0.5s;
    -webkit-transition: bottom 0.5s;
}

.musiclistActive {
    bottom: 0px;
}

.play-list {
    position: relative;
    text-align: center;
    border-bottom: #ccc solid 1px;
    height: 30px;
    font-size: 20px;
    padding: 15px;
}

.list-content {
    margin: -20px 0 0 0;
    width: 102%;
    padding: 20px 4% 0 0;
}

.list-content li {
    height: 16px;
    border-bottom: #E2DFDF solid 1px;
    font-size: 16px;
    padding: 12px;
}

.li-active {
    color: #CF3D3A;
}

.song-play {
    display: none;
    width: 17px;
    height: 15px;
    margin-right: 5px;
    background-size: cover;
}
